<!DOCTYPE html>
<html>
  <head>
    <title>Thundercats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if current_user %>
        <%= current_user.email + "is logged in" %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        You are not logged in
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
